* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: flex;
    text-align: center;
    justify-content: cover;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.price {
    padding: 8px 6px;
    text-decoration: line;
    font-style: italic;
    text-align: center;
    border-radius: 20px;
}

.price:hover {
    background-color: crimson;
    color: black;
    font-size: medium;
}

.row {
    padding: 12px;
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1200px;
    height: 100px;
}

.column {
    padding: 200px;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    width: 1200px;
    height: 100px;
}


/* Navigation bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: aliceblue;
    color: black;
}


/* End navigation bar */


/* logo */

.logo {
    padding: 20px;
    margin-top: 0px;
    border: 300px;
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.logo h3 {
    text-align: center;
}


/* footer */

footer ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 16px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-bottom-right-radius: 200px;
}

footer li {
    float: left;
    display: flex;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* End logo */


/* single page  */


/* End single page */